


.cardHeaderStyle{
    color: rgb(39, 41, 50);
    font-size:30px;
    background-color: white;




}
.btnstyle-1{
    background-color: #e11531;
    color: #fae8dc;
}

.btnstyle-1:hover{
    background-color: rgba(179, 0, 9, 0.57);
    color: #fae8dc;
}