

.backcolor{
    background-color: rgba(238, 216, 228, 0.54);
    height:1000px;
}
.cardHeaderStyle{
    color: rgb(39, 41, 50);
    font-size:30px;
    background-color: white;




}
.btnstyle-1{
    background-color: #e11531;
    color: #fae8dc;
}

