.banner-style{
    object-fit: cover;
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {
    img.avatar_style {
        top: 7em;
    }

    h2.profil-name{
        position: absolute;
        left:6em;
        top:6em;
    }
    div.editfollow-style{
        position: absolute;
        left:31em;
        top:14.5em;
        font-size: 1.1em;

    }

}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    img.avatar_style {
        top: 4em;
        width:150px;
    }
    h2.profil-name{
        position: absolute;
        left:5em;
        top:4em;
    }
    div.editfollow-style{
        position: absolute;
        left:34em;
        top:6em;
        font-size: 1em;
    }

    a.text-banner-style{
    display: block;
    }
}

@media only screen and (max-width: 768px) {
    img.avatar_style {
        top: 3em;
        width:120px;
    }
    h2.profil-name{
        position: absolute;
        left:5em;
        top:3em;
    }
    div.editfollow-style{
        position: absolute;
        left:31em;
        top:5em;
        font-size: 0.9em;
    }

    a.text-banner-style{
        display: block;
    }
}

.avatar_style{
    position: absolute;
    top:9em;
    width:180px;
    float:left;
    border-radius:50%;
    border-color: white;
    margin-right:25px;
}

.profil-name{
    position: absolute;
    left:6em;
    top:7em;
    color: #ffffff;

}

.info-css{
    color: #323232;
}

.editfollow-style{
    position: absolute;
    left:37em;
    top:16em;
    font-size: 1.2em;

}

.btn-hover1:hover{
    background-color: rgba(206, 205, 214, 0.4);
    color: white;

}

.btn-hover1{
    padding: 5px;
    border-radius: 15px;

}

.text-banner-style{
    text-decoration:none;
    color: white;
}


